.sign-in{
    width: 380px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

span{
        color: grey;
}

.title{
    margin: 10px 0;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
}